#contact{
	width: 100%;
	position: relative;
}
#contact h1{
	display:flex;
	justify-content: flex-end;
	font-size: 80px;
	margin: 0px 30px ;
	text-align: right;
	font-family: farsi;
	color: #35383b;
	position: relative;
	z-index: 22;
}
#contact .continer-inputts{
	width: 100%;
	height: 1500px;
	background: #fff;
	
}

#contact .continer-inputts form{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex-direction: column;
	
}
#contact .continer-inputts form input::placeholder{
	color: #fff;
}
#contact .continer-inputts form textarea::placeholder{
	color: #fff;
}
#contact .continer-inputts form .inp-n-l , #contact .continer-inputts form textarea{
	text-align: right;
	background: #35383b;
	border:none;
	margin: 30px;
	border-radius: 30px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
	font-family: farsi-pragraf;
	letter-spacing: 2px;
	color: #fff;
	z-index: 22;
}
#contact .continer-inputts form .inp-n-l{
	padding: 20px 50px;
	font-size: 50px;
	width: 50%;
	
}
#contact .continer-inputts form textarea{
	width: 90%;
	height: 700px;
	padding: 20px 50px;
	font-size: 50px;
	
}
#contact .continer-inputts form .buttons-container{
	width: 90%;
	
	margin: 0 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#contact .continer-inputts form .buttons-container input{
	width: 400px;
	background: #35383b;
	color: #fff;
	padding: 20px 60px;
	font-size: 40px;
	border-radius: 90px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 11px solid #f06d02;;
	outline: none;
	font-weight: bold;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
	text-shadow: 0 0 20px black;
	font-family: farsi-pragraf;
	letter-spacing: 5px;
}


/*======== top images style==============*/

#contact .man-cont{
	width: 400px;
	height: 400px;
	
	position: absolute;
	top: 80px;
	left: 70px;
	animation: mandance 3s ease-in-out infinite;
}
@keyframes mandance{
	0%{
		transform: translateY(0);
	}
	50%{
		transform: translateY(-1.9rem);
	}
	100%{
		transform: translateY(0);
	}
}
#contact .man-cont img{
	width: 100%;
}

/*===============bottom contact================*/
/*=========contacts==========*/
#contact .continer-conts{
	width: 100%;
	height: 550px;
/*	background: blue;*/
	display: flex;
	justify-content:flex-end;
	padding: 0 60px;
}

#contact .continer-conts .cont-img{
	width: 360px;
	
/*	background: red;*/
	margin-left: 30px;
	
}
#contact .continer-conts .cont-img img{
	width: 100%;
}
#contact .continer-conts .contact-deta{
	width: 500px;
	height: 400px;
/*	background: gray;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#contact .continer-conts .contact-deta .deta1{
	width: 100%;
/*	background: green;*/
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
#contact .continer-conts .contact-deta .deta1 h1{
	font-size: 47px;
}
#contact .continer-conts .contact-deta .deta1 ion-icon{
	font-size: 60px;
}




